@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
  font-family: 'Arca Majora';
  src: url('../fonts/arcamajora-heavy-webfont.woff2') format('woff2'),
       url('../fonts/arcamajora-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('../fonts/aller_rg-webfont.woff2') format('woff2'),
       url('../fonts/aller_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Aller Light';
  src: url('../fonts/aller_lt-webfont.woff2') format('woff2'),
       url('../fonts/aller_lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}