html, body{
  background: #fff;
  font-family: 'Aller', sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

// custom
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

// header
.navbar-fe{
  position: absolute;
  background: none !important;
  border-bottom: solid 1px $white;
  color: $white;
  font-family: 'Arca Majora', sans-serif;
  top: 0;
  left: 0;

  & a.navbar-brand{
    font-size: 1.35em;
    color: $white;
    font-weight: bold;
  }

  & ul.navbar-nav{
    & > li{
      & > a{
        color: $white;
        font-size: .8em;
        padding-right: .75rem !important;
        padding-left: .75rem !important;
      }
    }
  }
}
#cover{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('../img/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#caption{
  max-width: 700px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: $white;

  & > h1{
    font-family: 'Arca Majora', sans-serif;
    font-size: 5.5em;
    margin-top: 150px;
    margin-bottom: 30px;
    letter-spacing: .125em;
  }

  & > p{
    font-family: 'Aller Light', sans-serif;
    font-size: 1.2em;
    margin-bottom: 65px;
  }
}

// button style
.btn-fe{
  font-family: 'Arca Majora', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;

  padding: 13px 25px 10px;
  border-width: 2px;
  border-radius: 3px;

  &.btn-white{
    color: $white;
    border-color: $white;

    &:hover, &:active, &:focus{
      background: $white;
      color: $black;
    }
  }

  &.btn-black{
    color: $black;
    border-color: $black;

    &:hover, &:active, &:focus{
      background: $black;
      color: $white;
    }
  }

  &.btn-green-active{
    color: $white;
    background: $green;
    border-color: $green;

    &:hover, &:active, &:focus{
      opacity: 0.8;
    }
  }
}

// sections
.fe-section{
  padding: 75px 0px;

  &.section-white, &.section-light{
    color: $black;
  }
  &.section-green, &.section-dark{
    color: $white;
  }

  &.section-white{
    background: $white;
  }
  &.section-light{
    background: $darkerWhite;
  }
  &.section-green{
    background: $green;
  }
  &.section-dark{
    background: $darkGray;
  }
  &.section-img{
    position: relative;
    background: url('../img/guitar.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.title-wrap{
  text-align: center;
  font-family: 'Arca Majora', sans-serif;

  & > h2.subtitle{
    font-size: .9em;
    margin-bottom: 15px;
  }
  & > h1.title{
    font-size: 2.9em;

    & > span{
      font-family: 'Raleway', sans-serif !important;
      font-weight: 300 ;
    }
  }
}

// first section : hello there
#hello{
  & .stat{
    font-family: 'Arca Majora', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
  
    & > h6{
      font-size: .8em;
    }
  }

  & p{
    color: $gray;
    font-size: 1em;
  }
}

// second section : service
#services{
  .service-wrap{
    text-align: center;

    .service-img{
      width: 200px;
      height: 200px;
      background: url('../img/square-4.jpg');
      position: relative;
      margin: 30px auto;
      border-radius: 50%;

      & > .overlay{
        border-radius: 50%;
      }

      & > .service-icon{
        height: 40%;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 3;
      }

    }

    & > h6{
      font-family: 'Arca Majora', sans-serif;
      color: $black;
      font-size: 1.15em;
    }
    & > p{
      font-family: 'Aller Light', sans-serif;
      color: $gray;
      font-size: .85em;
    }
  }

  & p{
    font-family: 'Aller Light', sans-serif;
    color: $gray;
    font-size: 1em;
    margin-bottom: 40px;
  }
}

hr.separator{
  width: 125px;
  fill: $green;
  background: $green;
  border: solid 1px $green;
  margin: 40px auto;
}

// fourth section : we are
#weare{
  & .we-wrap{
    margin-top: 60px;
  }
  & .we-content{
    & .we-icon{
      width: 100%;
    }

    & h6{
      font-family: 'Arca Majora', sans-serif;
      letter-spacing: .1em;
    }

    & p{
      font-family: 'Aller Light', sans-serif;
      font-size: .95em;
      letter-spacing: -.3px ;
    }
  }
}

// fifth section : gallery
#gallery{
  padding-bottom: 0 !important;
  & .gallery-wrap{
    margin: 20px 0 !important;

    & > .col-md-4{
      margin: 0 !important;
      padding: 0 !important;

      & .gallery-img{
        width: 100%;
      }

      & .overlay-gal{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.85);
        position: absolute;
        opacity:0;

        transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -o-transition: all ease-in .2s;

        & > .overlay-content{
          color: $white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);

          & > a{
            text-decoration: none ;
            color: $white ;

            &:hover, &:active, &:focus{
              text-decoration : underline ; 
            }
          }
        }
      }

      &:hover{
        & .overlay-gal{
          opacity: 1;
        }
      }
    }
  }
  & .nav-gallery{
    flex: 1;

    & > ul {
      & > li {
        font-family: 'Arca Majora', sans-serif;

        &.active{
          & > a{
            color: $green;
          }
        }

        & > a{
          color: $black;
          text-decoration: none;
          font-size: .85em;
          cursor: pointer;

          &:hover, &:focus, &:active{
            color: $green;
          }
        }
      }
    }
  }
}

// sixth section : team
#team{
  & .team-wrap{
    margin-top: 50px;

    & > .team-content{
      & > img{
        width: 100%;
        margin-bottom: 25px;
      }

      & > h6{
        font-family: 'Arca Majora', sans-serif;
        margin-bottom: 0px;
      }

      & > p{
        font-family: 'Aller Light', sans-serif;
        color: $gray;
      }
    }
  }
}

// seventh section: testimoni section
#testi{
  & .testi-wrap{
    margin-top: 30px;

    & .testi-content{
      & > p{
        font-family: 'Aller Light', sans-serif;
      }
      & > h6{
        font-family: 'Arca Majora', sans-serif;
        font-size: .9em;
        margin-top: 30px;
      }
    }
  }
}

// eighth section: contact us
#contact{
  & .contact-form{
    margin-top: 40px;
  }
  & .fe-form{
    font-family: 'Raleway', sans-serif;
    background: none;
    padding: 10px 15px;
    border-radius: 0px !important;
    border: none;
    border-bottom: solid 1px $black;
    font-weight: 300;
  }
}

#map{
  padding-top: 0px;
}

#footer{
  & .footer-content{
    & .footer-icon{
      width: 55px;
      margin: 20px auto;
      display: block;
    }

    & p{
      font-family: 'Aller Light', sans-serif;
      color: $gray;
      margin-bottom: 7px;
    }

    & h6{
      font-family: 'Arca Majora', sans-serif;
      color: $darkerWhite;
      font-size: .9em;
      letter-spacing: .05em;
    }
  }

  & ul.social-link{
    list-style: none;
    display: block;
    margin-top: 30px;
    margin-left: 0px;
    padding: 0;

    & > li{
      font-size: 1.25em;
      margin: 0 15px;
      display: inline-block;

      &:first-child{
        margin-left: 0px;
      }

      &:last-child{
        margin-right: 0px;
      }

      & > a{
        color: $white;
        text-decoration: none;

        &:hover, &:active, &:focus{
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  & .copyright{
    font-family: 'Aller Light', sans-serif;
    font-size: .8em;
    margin-top: 20px;
    & span{
      color: $green;
    }
  }
}