/**
* 
* This style is made by Ashari Muhammad Hisbulloh
* for execrise purpose
* Yogyakarta, 9 Oct 2017
*
**/

$white: #fff ;
$darkerWhite: #f8f8f8;
$green: #93c01f;
$black: #000;
$gray: #aaabad;
$darkGray: #101113;
$random: #fafafa;

@import "_font";
@import "_style";