/**
* 
* This mobile style is made by Ashari Muhammad Hisbulloh
* for execrise purpose
* Yogyakarta, 9 Oct 2017
*
**/

$white: #fff ;
$darkerWhite: #f8f8f8;
$green: #93c01f;
$black: #000;
$gray: #aaabad;
$darkGray: #101113;
$random: #fafafa;

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #caption{
    max-width: 80% ;

    & > h1{
      font-size: 2.5em ;
      margin-top : 120px ;
    }

    & > p{
      font-size: 1em ;
      margin-bottom : 30px ;
    }
  }
  .btn-fe{
    font-size : .85em ;
  }
  hr.separator{
    display: none ;
  }

  #weare{
    & .we-content{
      margin : 30px 0 ;
      & .we-icon{
        width: 50% ;
        margin : 0 25% 20px ;
      }

      & .we-desc{
        display: block ;
        text-align: center;
      }
    } 
  }

  #team{
    & .team-wrap{

      & > .team-content{

        & > .team-desc{
          display: none;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #caption{
    max-width: 80% ;

    & > h1{
      font-size: 4em ;
      margin-top : 120px ;
    }

    & > p{
      font-size: 1.1em ;
      margin-bottom : 75px ;
    }
  }

  #services{
    & .service-wrap{
      & > .service-img{
        width: 250px;
        height: 250px;
      }

      & > h6{
        font-size: 1.5em;
      }

      & > p{
        font-size: 1.25em;
      }
    }
  }

  #weare{
    & .we-content{
      margin : 30px 0 ;
      & .we-icon{
        width: 50% ;
        margin : 0 25% 40px ;
      }

      & .we-desc{
        display: block ;
        text-align: center;

        & > h6{
          font-size: 1.5em ;
        }

        & > p{
          font-size: 1.25em;
        }
      }
    } 
  }

  #team{
    & .team-wrap{
      
      & > .team-content{
        margin-bottom : 30px ;
        
        & > h6{
          font-size: 1.5em ;
        }

        & > p.small{
          font-size : 1.25em ;
        }

        & > .team-desc{
          display: none;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}