/**
* 
* This mobile style is made by Ashari Muhammad Hisbulloh
* for execrise purpose
* Yogyakarta, 9 Oct 2017
*
**/
@media (max-width: 575px) {
  #caption {
    max-width: 80%; }
    #caption > h1 {
      font-size: 2.5em;
      margin-top: 120px; }
    #caption > p {
      font-size: 1em;
      margin-bottom: 30px; }
  .btn-fe {
    font-size: .85em; }
  hr.separator {
    display: none; }
  #weare .we-content {
    margin: 30px 0; }
    #weare .we-content .we-icon {
      width: 50%;
      margin: 0 25% 20px; }
    #weare .we-content .we-desc {
      display: block;
      text-align: center; }
  #team .team-wrap > .team-content > .team-desc {
    display: none; } }

@media (min-width: 576px) and (max-width: 767px) {
  #caption {
    max-width: 80%; }
    #caption > h1 {
      font-size: 4em;
      margin-top: 120px; }
    #caption > p {
      font-size: 1.1em;
      margin-bottom: 75px; }
  #services .service-wrap > .service-img {
    width: 250px;
    height: 250px; }
  #services .service-wrap > h6 {
    font-size: 1.5em; }
  #services .service-wrap > p {
    font-size: 1.25em; }
  #weare .we-content {
    margin: 30px 0; }
    #weare .we-content .we-icon {
      width: 50%;
      margin: 0 25% 40px; }
    #weare .we-content .we-desc {
      display: block;
      text-align: center; }
      #weare .we-content .we-desc > h6 {
        font-size: 1.5em; }
      #weare .we-content .we-desc > p {
        font-size: 1.25em; }
  #team .team-wrap > .team-content {
    margin-bottom: 30px; }
    #team .team-wrap > .team-content > h6 {
      font-size: 1.5em; }
    #team .team-wrap > .team-content > p.small {
      font-size: 1.25em; }
    #team .team-wrap > .team-content > .team-desc {
      display: none; } }

/*# sourceMappingURL=mobile.css.map */