/**
* 
* This style is made by Ashari Muhammad Hisbulloh
* for execrise purpose
* Yogyakarta, 9 Oct 2017
*
**/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@font-face {
  font-family: 'Arca Majora';
  src: url("../fonts/arcamajora-heavy-webfont.woff2") format("woff2"), url("../fonts/arcamajora-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Aller';
  src: url("../fonts/aller_rg-webfont.woff2") format("woff2"), url("../fonts/aller_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Aller Light';
  src: url("../fonts/aller_lt-webfont.woff2") format("woff2"), url("../fonts/aller_lt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  background: #fff;
  font-family: 'Aller', sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0; }

.navbar-fe {
  position: absolute;
  background: none !important;
  border-bottom: solid 1px #fff;
  color: #fff;
  font-family: 'Arca Majora', sans-serif;
  top: 0;
  left: 0; }
  .navbar-fe a.navbar-brand {
    font-size: 1.35em;
    color: #fff;
    font-weight: bold; }
  .navbar-fe ul.navbar-nav > li > a {
    color: #fff;
    font-size: .8em;
    padding-right: .75rem !important;
    padding-left: .75rem !important; }

#cover {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#caption {
  max-width: 700px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff; }
  #caption > h1 {
    font-family: 'Arca Majora', sans-serif;
    font-size: 5.5em;
    margin-top: 150px;
    margin-bottom: 30px;
    letter-spacing: .125em; }
  #caption > p {
    font-family: 'Aller Light', sans-serif;
    font-size: 1.2em;
    margin-bottom: 65px; }

.btn-fe {
  font-family: 'Arca Majora', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 13px 25px 10px;
  border-width: 2px;
  border-radius: 3px; }
  .btn-fe.btn-white {
    color: #fff;
    border-color: #fff; }
    .btn-fe.btn-white:hover, .btn-fe.btn-white:active, .btn-fe.btn-white:focus {
      background: #fff;
      color: #000; }
  .btn-fe.btn-black {
    color: #000;
    border-color: #000; }
    .btn-fe.btn-black:hover, .btn-fe.btn-black:active, .btn-fe.btn-black:focus {
      background: #000;
      color: #fff; }
  .btn-fe.btn-green-active {
    color: #fff;
    background: #93c01f;
    border-color: #93c01f; }
    .btn-fe.btn-green-active:hover, .btn-fe.btn-green-active:active, .btn-fe.btn-green-active:focus {
      opacity: 0.8; }

.fe-section {
  padding: 75px 0px; }
  .fe-section.section-white, .fe-section.section-light {
    color: #000; }
  .fe-section.section-green, .fe-section.section-dark {
    color: #fff; }
  .fe-section.section-white {
    background: #fff; }
  .fe-section.section-light {
    background: #f8f8f8; }
  .fe-section.section-green {
    background: #93c01f; }
  .fe-section.section-dark {
    background: #101113; }
  .fe-section.section-img {
    position: relative;
    background: url("../img/guitar.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.title-wrap {
  text-align: center;
  font-family: 'Arca Majora', sans-serif; }
  .title-wrap > h2.subtitle {
    font-size: .9em;
    margin-bottom: 15px; }
  .title-wrap > h1.title {
    font-size: 2.9em; }
    .title-wrap > h1.title > span {
      font-family: 'Raleway', sans-serif !important;
      font-weight: 300; }

#hello .stat {
  font-family: 'Arca Majora', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }
  #hello .stat > h6 {
    font-size: .8em; }

#hello p {
  color: #aaabad;
  font-size: 1em; }

#services .service-wrap {
  text-align: center; }
  #services .service-wrap .service-img {
    width: 200px;
    height: 200px;
    background: url("../img/square-4.jpg");
    position: relative;
    margin: 30px auto;
    border-radius: 50%; }
    #services .service-wrap .service-img > .overlay {
      border-radius: 50%; }
    #services .service-wrap .service-img > .service-icon {
      height: 40%;
      width: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 3; }
  #services .service-wrap > h6 {
    font-family: 'Arca Majora', sans-serif;
    color: #000;
    font-size: 1.15em; }
  #services .service-wrap > p {
    font-family: 'Aller Light', sans-serif;
    color: #aaabad;
    font-size: .85em; }

#services p {
  font-family: 'Aller Light', sans-serif;
  color: #aaabad;
  font-size: 1em;
  margin-bottom: 40px; }

hr.separator {
  width: 125px;
  fill: #93c01f;
  background: #93c01f;
  border: solid 1px #93c01f;
  margin: 40px auto; }

#weare .we-wrap {
  margin-top: 60px; }

#weare .we-content .we-icon {
  width: 100%; }

#weare .we-content h6 {
  font-family: 'Arca Majora', sans-serif;
  letter-spacing: .1em; }

#weare .we-content p {
  font-family: 'Aller Light', sans-serif;
  font-size: .95em;
  letter-spacing: -.3px; }

#gallery {
  padding-bottom: 0 !important; }
  #gallery .gallery-wrap {
    margin: 20px 0 !important; }
    #gallery .gallery-wrap > .col-md-4 {
      margin: 0 !important;
      padding: 0 !important; }
      #gallery .gallery-wrap > .col-md-4 .gallery-img {
        width: 100%; }
      #gallery .gallery-wrap > .col-md-4 .overlay-gal {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        position: absolute;
        opacity: 0;
        transition: all ease-in .2s;
        -webkit-transition: all ease-in .2s;
        -moz-transition: all ease-in .2s;
        -o-transition: all ease-in .2s; }
        #gallery .gallery-wrap > .col-md-4 .overlay-gal > .overlay-content {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%); }
          #gallery .gallery-wrap > .col-md-4 .overlay-gal > .overlay-content > a {
            text-decoration: none;
            color: #fff; }
            #gallery .gallery-wrap > .col-md-4 .overlay-gal > .overlay-content > a:hover, #gallery .gallery-wrap > .col-md-4 .overlay-gal > .overlay-content > a:active, #gallery .gallery-wrap > .col-md-4 .overlay-gal > .overlay-content > a:focus {
              text-decoration: underline; }
      #gallery .gallery-wrap > .col-md-4:hover .overlay-gal {
        opacity: 1; }
  #gallery .nav-gallery {
    flex: 1; }
    #gallery .nav-gallery > ul > li {
      font-family: 'Arca Majora', sans-serif; }
      #gallery .nav-gallery > ul > li.active > a {
        color: #93c01f; }
      #gallery .nav-gallery > ul > li > a {
        color: #000;
        text-decoration: none;
        font-size: .85em;
        cursor: pointer; }
        #gallery .nav-gallery > ul > li > a:hover, #gallery .nav-gallery > ul > li > a:focus, #gallery .nav-gallery > ul > li > a:active {
          color: #93c01f; }

#team .team-wrap {
  margin-top: 50px; }
  #team .team-wrap > .team-content > img {
    width: 100%;
    margin-bottom: 25px; }
  #team .team-wrap > .team-content > h6 {
    font-family: 'Arca Majora', sans-serif;
    margin-bottom: 0px; }
  #team .team-wrap > .team-content > p {
    font-family: 'Aller Light', sans-serif;
    color: #aaabad; }

#testi .testi-wrap {
  margin-top: 30px; }
  #testi .testi-wrap .testi-content > p {
    font-family: 'Aller Light', sans-serif; }
  #testi .testi-wrap .testi-content > h6 {
    font-family: 'Arca Majora', sans-serif;
    font-size: .9em;
    margin-top: 30px; }

#contact .contact-form {
  margin-top: 40px; }

#contact .fe-form {
  font-family: 'Raleway', sans-serif;
  background: none;
  padding: 10px 15px;
  border-radius: 0px !important;
  border: none;
  border-bottom: solid 1px #000;
  font-weight: 300; }

#map {
  padding-top: 0px; }

#footer .footer-content .footer-icon {
  width: 55px;
  margin: 20px auto;
  display: block; }

#footer .footer-content p {
  font-family: 'Aller Light', sans-serif;
  color: #aaabad;
  margin-bottom: 7px; }

#footer .footer-content h6 {
  font-family: 'Arca Majora', sans-serif;
  color: #f8f8f8;
  font-size: .9em;
  letter-spacing: .05em; }

#footer ul.social-link {
  list-style: none;
  display: block;
  margin-top: 30px;
  margin-left: 0px;
  padding: 0; }
  #footer ul.social-link > li {
    font-size: 1.25em;
    margin: 0 15px;
    display: inline-block; }
    #footer ul.social-link > li:first-child {
      margin-left: 0px; }
    #footer ul.social-link > li:last-child {
      margin-right: 0px; }
    #footer ul.social-link > li > a {
      color: #fff;
      text-decoration: none; }
      #footer ul.social-link > li > a:hover, #footer ul.social-link > li > a:active, #footer ul.social-link > li > a:focus {
        color: #fff;
        text-decoration: none; }

#footer .copyright {
  font-family: 'Aller Light', sans-serif;
  font-size: .8em;
  margin-top: 20px; }
  #footer .copyright span {
    color: #93c01f; }

/*# sourceMappingURL=style.css.map */